{% extends 'app/index.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block banner-slider %}

<div class="carousel w-full">
  <div id="slide1" class="carousel-item relative w-full">
    <img src="{% static 'app/images/banner/b1.jpg' %}" class="w-full" alt="Banner 1" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide4" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide2" class="carousel-item relative w-full">
    <img src="{% static 'app/images/banner/b2.jpg' %}" class="w-full" alt="Banner 2" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide1" class="btn btn-circle">❮</a>
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide3" class="carousel-item relative w-full">
    <img src="{% static 'app/images/banner/b3.jpg' %}" class="w-full" alt="Banner 3" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide2" class="btn btn-circle">❮</a>
      <a href="#slide4" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide4" class="carousel-item relative w-full">
    <img src="{% static 'app/images/banner/b4.jpg' %}" class="w-full" alt="Banner 4" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide3" class="btn btn-circle">❮</a>
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>

{% endblock banner-slider %}

{% block main-content %}

<h1>Welcome to product</h1>

{% endblock main-content %}